* {
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

section {
  height: 100%;
}

section h2 {
  color: #1a52b6;
}

.hero {
  background-image: url("/public/images/banner-image 2.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding: 50px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the color and opacity for the overlay */
}

.hero .hero-container {
  position: relative;
}

.hero .hero-container hr {
  background-color: grey;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  background-color: red;
}
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu ul {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 5px;
}

.header-menu ul img {
  cursor: pointer;
  height: 30px;
}

.header-menu hr {
  height: 30px;
  width: 1px;
  background-color: white;
  border: 0;
  outline: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.hero .hero-search {
  width: 200px;
  border: none;
  padding: 5px;
}
.hero .hero-search input {
  background-color: transparent;
  outline: none;
  border: 0;
  color: white;
  text-decoration: solid;
  width: 150px;
}

.hero .hero-search input::placeholder {
  color: white;
}
.hero .fa-search {
  color: white;
}

.hero-products {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-products-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.hero .hero-intro {
  width: 100%;
  text-align: center;
  color: white;
}

.hero .hero-intro h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 3px;
}

.hero .hero-intro p {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}

.hero .products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products .products-tabs {
  display: flex;
}

.products .products-tabs .product-tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.products .products-tabs .product-tab {
  color: white;
}
.products .products-tabs .product-tab.active {
  background-color: #1a52b6;
}

.products .products-tabs .product-tab.active > i {
  color: #eb2533;
}

.products #flights {
  background-color: #1a52b6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products form {
  padding: 30px;
}

.products form input {
  padding: 10px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
}

.products form #locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.products form #locations #from span {
  color: white;
}

.products form #locations #to span {
  color: white;
}

.products form #locations .fa-arrow-right-arrow-left {
  color: #eb2533;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.products form #flights-header select {
  padding: 10px 2.5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  width: 150px;
  accent-color: brown;
}

.products #flights #dates {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 50px;
}

.products #flights #dates > div {
  display: flex;
  flex-direction: column;
}

.products #flights #dates label {
  color: white;
}
#why-wadiia {
  padding: 0 10% 0 10%;
  background-color: white;
}

#why-wadiia .reasons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#why-wadiia .reasons .reason {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 150px;
  width: 100px;
  padding: 20px;
}

#why-wadiia .reasons .reason p {
  display: flex;
  line-height: 25px;
  font-weight: 600;
}

#why-wadiia .reasons .reason:nth-child(1) > i {
  padding: 10px;
  border: 3px solid rgb(31, 31, 97);
  border-radius: 100%;
  color: rgb(31, 31, 97);
  font-size: 25px;
  transform: scale(1.25);
}

#why-wadiia .reasons .reason:nth-child(2) span {
  border: 3px solid gold;
  padding: 10px;
  border-radius: 50%;
  transform: scale(1.25);
}
#why-wadiia .reasons .reason:nth-child(2) span > i {
  color: white;
  padding: 5px;
  background-color: gold;
  border-radius: 50%;
  transform: scale(1.25);
}

#why-wadiia .reasons .reason:nth-child(3) > i {
  padding: 10px;
  border: 3px solid green;
  border-radius: 100%;
  color: green;
  font-size: 25px;
  transform: scale(1.25);
}

#why-wadiia .reasons .reason:nth-child(4) > i {
  padding: 10px;
  border: 3px solid #eb2533;
  border-radius: 100%;
  color: #eb2533;
  font-size: 25px;
  transform: scale(1.25);
}

#destinations {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  background-image: url("/public/images/123456801.png");
  background-color: white;
}

#destinations .destinations {
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

#destinations .destinations .btn-primary {
  width: fit-content;
}

#destinations .destination-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#destinations .destination-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: fit-content;
}
#destinations .destinations-header {
  display: flex;
  justify-content: space-between;
}

#destinations .destination-card {
  background: transparent;

  width: 300px;
  box-shadow: 5px 5px 15px grey;
  cursor: pointer;
  position: relative;
  height: fit-content;
}

#destinations .destination-card .destination-card-sticker {
  position: absolute;
  display: flex;
  background-color: gold;
  padding: 5px;
  right: -2px;
  top: 10px;
}

#destinations .destination-card .destination-card-sticker .ele1 {
  position: absolute;
  top: 5px;
  left: -9px;
  height: 20px;
  width: 20px;
}
#destinations .destination-card img {
  width: 300px;
}
#destinations .destination-card .destination-card-footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#destinations .destination-card .destination-card-footer .destination-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#destinations
  .destination-card
  .destination-card-footer
  .destination-location
  .destination-country {
  color: #1a52b6;
}

#more-wadiia {
  padding: 0 10% 0 10%;
  background-color: white;
}

#more-wadiia .more-of-wadiia {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 50px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card {
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card h3 {
  font-size: 24px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card p {
  font-weight: 600;
  opacity: 0.8;
  line-height: 1.2;
}
#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(1) {
  border: 1px solid #1a52b6;
}
#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(2) {
  border: 1px solid gold;
}
#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(3) {
  border: 1px solid green;
}

#more-wadiia .wadiia-more-card .wadiia-more-card-info {
  display: block;
  margin-top: 20px;
}
#more-wadiia .wadiia-more-card img {
  position: absolute;
  top: -15%;
  left: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#more-wadiia .wadiia-more-card p {
  text-align: center;
  width: 200px;
}

#travel-countries {
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  background-color: rgba(92, 92, 92, 0.103);
  justify-content: center;
  gap: 20px;
}
#travel-countries .country-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#travel-countries .countries {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#travel-countries .countries .country {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  transition: 0.5s;
}

#travel-countries .countries .country:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 20px grey;
}

#travel-countries .countries .country .country-name {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

#travel-countries .travel-btns {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#travel-countries .carousel {
  display: flex;
  gap: 15px;
  width: 100%;
}
#travel-countries .carousel .dot {
  background-color: gray;
  height: 7.5px;
  width: 7.5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#travel-countries .carousel .dotactive {
  background-color: #1a52b6;
  height: 7.5px;
  width: 7.5px;
  border-radius: 50%;
}

#travel-countries .travel-btns {
  display: flex;
  justify-content: center;
}

#travel-countries .travel-btns button {
  position: relative;
  border-radius: 50%;
  background-color: white;
  outline: none;
  border: none;
  padding: 12.5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#travel-countries .travel-btns button i {
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#dest-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  margin-top: 400px;
  padding: 50px;
  background-color: #1a52b6;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer img {
}

footer .footer-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .footer-container {
  width: fit-content;
}
footer .footer-container h4 {
  color: yellow;
}

footer .footer-container ul {
  padding: 0;
  list-style: none;
  line-height: 3vh;
  margin-top: -20px;
}

footer .footer-container ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-container #all-airlines {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
footer .footer-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer .footer-footer .footer-tag {
  color: white;
}

footer .footer-footer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-footer form input {
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  outline: none;
  border-radius: 2.5px;
  transition: 0.25s;
  color: white;
}

footer .footer-footer form input:focus {
  border: 1px solid #eb2533;
}

footer .footer-footer form input::placeholder {
  color: white;
}

footer .footer-footer .social-links {
  list-style: none;
  padding: 0;
  gap: 10px;
  display: flex;
  color: white;
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: #eb2533;
  outline: none;
  border: 0;
  padding: 7px 20px 7px 20px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.btn-secondary {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 2.5px;
  width: 100%;
  padding: 5px 10px;
  color: #eb2533;
  font-weight: bold;
}

.link {
  color: #eb2533;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-btn {
  width: fit-content;
  color: white;
  background-color: #eb2533;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.link-btn-secondary {
  background-color: white;
  color: #eb2533;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #eb2533;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.25s;
}

.link-btn-secondary:hover {
  background-color: #eb2533;
  color: white;
}
