body {
  max-width: 100%;
  min-height: 100vh;
  overflow: auto;
}
.divider {
  background-color: white;
}

.hero {
  background-color: grey;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  background-color: red;
}
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu ul {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.header-menu ul li {
  cursor: pointer;
}

.header-menu hr {
  height: 20px;
  width: 1px;
  background-color: white;
  border: 0;
  outline: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.hero .hero-search {
  width: fit-content;
  border: 1px solid black;
  padding: 5px;
  border-radius: 2.5px;
}
.hero .hero-search input {
  background-color: transparent;
  outline: none;
  border: 0;
  color: white;
  text-decoration: solid;
}

.hero .hero-search input::placeholder {
  color: white;
}
.hero .fa-search {
  color: white;
}

.hero-products {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-products-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.hero .hero-intro {
  width: 100%;
  text-align: center;
  color: white;
}

.hero .hero-intro h1 {
  font-size: 40px;
}

.hero .hero-intro p {
  text-align: center;
  font-size: 27px;
}

.hero .products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .products-tabs {
  display: flex;
}

.products .products-tabs .product-tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.products .products-tabs .product-tab.active {
  background-color: blue;
  color: white;
}

.products .products-tabs .product-tab.active > i {
  color: #eb2533;
}

#why-wadiia {
  background-color: white;
  padding: 50px;
}

#why-wadiia .reasons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
#why-wadiia .reasons .reason {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid silver;
  border-radius: 5px;
  height: 150px;
}

#why-wadiia .reasons .reason:nth-child(1) > i {
  padding: 10px;
  border: 2px solid rgb(31, 31, 97);
  border-radius: 100%;
  color: rgb(31, 31, 97);
  font-size: 25px;
}

#why-wadiia .reasons .reason:nth-child(2) span {
  border: 2px solid gold;
  padding: 10px;
  border-radius: 50%;
}
#why-wadiia .reasons .reason:nth-child(2) span > i {
  color: white;
  padding: 5px;
  background-color: gold;
  border-radius: 50%;
}

#why-wadiia .reasons .reason:nth-child(3) > i {
  padding: 10px;
  border: 2px solid green;
  border-radius: 100%;
  color: green;
  font-size: 25px;
}

#why-wadiia .reasons .reason:nth-child(4) > i {
  padding: 10px;
  border: 2px solid #eb2533;
  border-radius: 100%;
  color: #eb2533;
  font-size: 25px;
}

#destinations {
  width: fit-content;
  background-image: url("/public/images/1\ 23456801.png");
  background-color: white;
}

#destinations .destination-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#destinations .destinations-header {
  display: flex;
  justify-content: space-between;
}

#destinations .destination-card {
  width: 300px;
  box-shadow: 5px 5px 15px grey;
  cursor: pointer;
  position: relative;
}

#destinations .destination-card .destination-card-sticker {
  position: absolute;
  display: flex;
  background-color: gold;
  padding: 5px;
  right: -2px;
  top: 10px;
}

#destinations .destination-card .destination-card-sticker .ele1 {
  position: absolute;

  top: 5px;
  left: -9px;
  height: 20px;
  width: 20px;
}
#destinations .destination-card img {
  width: 300px;
}
#destinations .destination-card .destination-card-footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#destinations .destination-card .destination-card-footer .destination-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#destinations
  .destination-card
  .destination-card-footer
  .destination-location
  .destination-country {
  color: blue;
}

#more-wadiia {
  background-color: white;
  padding: 50px;
}

#more-wadiia .more-of-wadiia {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(1) {
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 300px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(2) {
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 300px;
  border: 1px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
}

#more-wadiia .more-of-wadiia .wadiia-more-card:nth-child(3) {
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 300px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
}

#more-wadiia .wadiia-more-card .wadiia-more-card-info {
  display: block;
  margin-top: 20px;
}
#more-wadiia .wadiia-more-card .wadiia-more-img {
  position: absolute;
  top: -15%;
  left: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: silver;
}
#more-wadiia .wadiia-more-card p {
  text-align: center;
  width: 200px;
}
button {
  cursor: pointer;
}

.btn-primary {
  background-color: #eb2533;
  outline: none;
  border: 0;
  padding: 7px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

.link {
  color: #eb2533;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-btn {
  width: fit-content;
  color: white;
  background-color: #eb2533;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.link-btn-secondary {
  background-color: white;
  color: #eb2533;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #eb2533;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.25s;
}

.link-btn-secondary:hover {
  background-color: #eb2533;
  color: white;
}
